.maplibregl-popup-content {
  padding: 8px 12px !important;
  font-size: 14px;
}

.maplibregl-ctrl-bottom-right {
  margin-bottom: 0;
}

.maplibregl-ctrl-attrib {
  font-size: 10px !important;
  margin: 0 4px 4px 0 !important;
}
